@import "bootstrap";
@import "custom/mixins";

.image-overlay {
  @include full-screen(absolute);
  background-color: rgba(0,0,0,0.3);
  height: 95%;
  width: 100%;
}

a {
  color: #159170;
}

.btn {
  position: relative;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 1rem 1.5rem;
  box-shadow: 0 4px 0 0 #095E47;
  color: white;
  background-color: #159170;
  border: none;
  border-radius: 0.3rem;
  display: inline-block;
  text-decoration: none;
}

.btn:hover, .btn:active, .btn:focus {
  top: 3px;
  box-shadow: none;
}

.home-header-image {
  @include bg-image-box('/images/unsplash_open_macbook.jpg');
  @include v-align-container;
  background-attachment: fixed;
  height: 95%;

  section {
    @include v-align-element;
    color: white;
    text-align: center;
    
    h1 {
      font-size: 7.2rem;      
    }

    h2 {
      font-size: 2.8rem;
    }
    
    p {
      font-size: 2.4rem;
    }
  }
}

.home-content {
  @include container-fixed;
  @include full-screen;
  padding-left: 0;
  padding-right: 0;

  header {
    @include v-align-container;
    height: 50%;
    width: 100%;
    background-image: url(/images/geometry2.png);
    background-repeat: repeat;
    
    section {
      @include make-row;
      @include v-align-element;
      text-align: center;

      h1 {
        font-size: 3.2rem;
      }

      h2 {
        font-size: 2.8rem;
      }
    }
  }

  > section {
    overflow: hidden;
    background-image: url(/images/stardust_@2X.png);
    background-repeat: repeat;


    @media (min-width: $screen-md) {
      height: 50%;
    }
    
    article {
      @include make-xs-column(12);
      @include make-sm-column(5);
      @include make-md-column(5);
      @include make-lg-column(5);
      color: white;
      margin-top: 3rem;
      margin-bottom: 3rem;
      width: auto;

      h2 {
        font-size: 2rem;
      }

      p {
        font-size: 1.6rem;
      }
    }

    article:first-child {
      @include make-sm-column-offset(1);
      @include make-md-column-offset(1);
      @include make-lg-column-offset(1);
    }
  }
}
